$main-color-text: #202020;
$second-color-text: #ff9646;
$main-color-bg: #ffffff;
$main-color-bg-button: #ff9646;
$main-color-text-button: #ffffff;
$main-color-decorate: #f9bb88;
$main-background: #f9bb88;
$second-background: #f4f4f4;

$mobile-width: 420px;
$desktop-width: 1920px;
