.examples {
  min-height: 1157px;
  margin-bottom: 80px;

  background-color: $main-background;
  &__bg-decorate {
    position: relative;

    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 99px;

      width: 5000px;
      height: 100%;

      background-color: $second-background;
    }
  }
  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    width: $mobile-width;
    min-height: inherit;
    padding: 40px 20px 58px;
    margin: 0 auto;
    &::after {
      position: absolute;
      content: '';
      z-index: -1;

      top: 656px;
      right: -90px;

      width: 160px;
      height: 160px;

      background: url('../img/decorate-4.svg') no-repeat;
    }
  }
  &__left-column {
    display: flex;
    flex-direction: column;
    order: 2;
  }
  &__right-column {
    order: 1;
    margin-bottom: 40px;
  }
  &__title {
    position: relative;

    width: 250px;
    margin-bottom: 40px;

    @include font(29px, 34.8px, 700);
    &::after {
      position: absolute;
      content: '';
      z-index: -1;

      top: 53px;
      right: -161px;

      width: 160px;
      height: 160px;

      background: url('../img/decorate-2.svg') no-repeat;
    }
  }
  &__list {
    position: relative;

    width: 380px;
    min-height: 537px;

    overflow: hidden;
  }
  &__item {
    height: 490px;
  }
  & .swiper-pagination {
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .swiper-pagination-bullet {
    width: 9px;
    height: 9px;

    background-color: #f9bb88;
    opacity: 1;

    border-radius: 0;

    --swiper-pagination-bullet-horizontal-gap: 8px;
  }
  .swiper-pagination-bullet-active {
    width: 17px;
    height: 17px;

    background-color: #000000;
  }
  &__wrapper-btn {
    display: none;
  }
  &__description {
    width: 260px;
    margin-bottom: 20px;

    @include font(18px, 28.8px, 600);
  }
  & dl {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    margin-top: 0;
    margin-bottom: 20px;


    @include font(14px, 29.4px, 600);
  }
  & dt {
    font-weight: 400;
  }
  & dd {
    margin: 0;
    padding-left: 4px;
  }
  &__price {
    margin-bottom: 40px;

    @include font(15px, 28.5px, 400);
    & b {
      @include font(23px, 36.8px, 600);
    }
    & b {
      padding-left: 41px;
      margin-right: 4px;
    }
  }
  &__link {
    width: 263px;
    min-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .examples {
    min-height: 853px;
    margin-bottom: 107px;
    &__bg-decorate {
      width: $desktop-width;
      &::before {
        right: 485px;
      }
    }
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      width: $desktop-width;
      padding: 110px 100px 0 100px;
      &::after {
        top: 53px;
        right: 100px;
      }
    }
    &__left-column {
      width: 416px;
      order: 1;
      margin-right: 209px;
    }
    &__right-column {
      order: 2;
      margin-top: -146px;
      margin-bottom: 0;
      & > div {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &__title {
      width: 100%;

      @include font(36px, 43.2px, 700);
      &::after {
        width: 160px;
        height: 160px;

        top: 374px;
        right: 600px;

        background: url('../img/decorate-2.svg') no-repeat;
      }
    }
    &__description {
      width: 350px;
      margin-bottom: 30px;

      @include font(23px, 36.8px, 600);
    }
    &__list {
      width: 490px;
      min-height: 760px;
      padding: 0;
    }
    &__item {
      height: 630px;
    }
    &__img {
      width: 490px;
      height: 630px;
    }
    & .swiper-pagination {
      left: 265px;
      bottom: 53px;

      width: 200px;
      justify-content: flex-start;
    }
    & .swiper-pagination-bullet {
      background-color: #f4f4f4;
    }
    .swiper-pagination-bullet-active {
      background-color: #000000;
    }
    &__wrapper-btn {
      position: relative;

      display: flex;
      justify-content: space-between;
      width: 208px;
      height: 130px;

      background-color: $second-color-bg;
      &::before {
        position: absolute;
        content: '';
        z-index: 3;
        top: 38%;
        left: 50%;

        width: 2px;
        height: 34px;

        background-color: #f4f4f4;
      }
    }
    &__btn {
      position: relative;
      z-index: 2;
      top: 22px;
      left: 0;

      width: 106px;
      min-height: 100%;
      padding: 0;

      background-color: $second-color-bg;
      border: 0;
      &--next {
        transform: rotate(180deg);
      }
      &::before,
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 45%;

        width: 12px;
        height: 2px;

        background-color: $second-background;

        transform: translate(-45%, -50%);
      }
      &::before {
        top: 53%;
        left: 45%;

        transform: rotate(45deg);
      }
      &::after {
        top: 47%;
        transform: rotate(-45deg);
      }
      &:hover::before,
      &:hover::after {
        background-color: $main-color-bg-button;
      }
      &:active::before,
      &:active::after {
        opacity: 0.5;
      }
    }
  }
}
