.model {
  min-height: 660px;
  margin-bottom: 80px;

  background-color: $second-background;
  &__container {
    position: relative;

    width: $mobile-width;
    min-height: inherit;
    padding: 40px 32px 80px;
    margin: 0 auto;

    text-align: center;
    &::after {
      position: absolute;
      content: '';
      z-index: 1;

      bottom: -136px;
      right: -43px;

      width: 160px;
      height: 160px;

      background: url('../img/decorate-2.svg') no-repeat;
    }
  }
  &__title {
    margin-bottom: 20px;

    @include font(23px, 27.6px, 700);
  }
  &__description {
    width: 257px;
    margin: 0 auto;

    @include font(14px, 22.4px, 400);
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 282px;
    margin: 13px auto 0;
    & input {
      min-height: 72px;
      padding-left: 9px;
      padding-top: 10px;

      border: none;
      border-bottom: 2px solid rgba(32, 32, 32, 0.4);
      background-color: $second-background;
      &::placeholder {
        @include font(14px, 20px, 400);
      }
      &:focus-visible {
        border-bottom: 2px solid #ff9646;

        outline: none;
      }
    }
  }
  &__btn {
    width: 240px;
    min-height: 50px;
    margin: 50px auto 10px;
  }
  &__footnote {
    width: 256px;
    margin: 0 auto;

    @include font(13px, 16px, 400);
    color: rgba(32, 32, 32, 0.4);
    & a {
      text-decoration: underline;
      &:active {
        color: $main-color-text;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .model {
    min-height: 545px;
    margin-bottom: 120px;
    &__container {
      width: $desktop-width;
      padding: 66px 351px  80px 351px;
      &::after {
        bottom: 271px;
        right: 1457px;
      }
      &::before {
        position: absolute;
        content: '';
        bottom: 246px;
        right: 1560px;

        width: 160px;
        height: 160px;

        background: url('../img/decorate-5.svg') no-repeat;
      }
    }
    &__title {
      width: 700px;
      margin: 0 auto;
      margin-bottom: 30px;

      @include font(36px, 43.2px, 700);
    }
    &__description {
      width: 544px;
      margin-bottom: 43px;

      @include font(18px, 28.8px, 400);
    }
    &__form {
      width: 1010px;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
      & input {
        width: 282px;
        margin-right: 82px;
        margin-bottom: 60px;
      }
      & input[type='email'] {
        margin-right: 0;
      }
  }
  &__btn {
    margin: 0;
    margin-left: 267px;
  }
  &__footnote {
    width: 230px;
    margin-left: 30px;

    text-align: left;
    & a:hover {
      color: $second-color-text;
    }
    & a:active {
      color: $main-color-text;
    }
  }
}
}
