.questions {
  min-height: 543px;
  margin-bottom: 80px;
  &__container {
    width: $mobile-width;
    min-height: inherit;
    padding: 0 48px;
    margin: 0 auto;
  }
  &__wrapper-map {
    display: none;
  }
  &__title {
    margin-bottom: 30px;
    padding-left: 20px;

    @include font(29px, 34.8px, 700);
    &::before {
      left: 0;
    }
  }
  &__text {
    margin-bottom: 10px;

    @include font(14px, 22.4px, 400);
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 282px;
    margin: 13px auto 0;
    & input,
    & textarea {
      padding-left: 9px;

      border: none;
      border-bottom: 2px solid rgba(32, 32, 32, 0.4);
      background-color: #ffffff;
      &::placeholder {
        @include font(14px, 20px, 400);
      }
      &:focus-visible {
        border-bottom: 2px solid #ff9646;

        outline: none;
      }
    }
    & input {
      min-height: 58px;
      margin-bottom: 13px;
    }
    & textarea {
      min-height: 60px;
      padding: 19px 10px 4px 9px;
    }
  }
  &__btn {
    width: 282px;
    min-height: 50px;
    margin: 50px auto 10px;
  }
  &__footnote {
    width: 256px;
    margin: 0 auto;

    @include font(13px, 16px, 400);
    color: rgba(32, 32, 32, 0.4);
    & a {
      text-decoration: underline;
      &:active {
        color: $main-color-text;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .questions {
    min-height: 560px;
    margin-bottom: 110px;
    &__container {
      display: flex;
      align-items: flex-start;
      width: $desktop-width;
      padding: 0 351px 0 220px;
    }
    &__wrapper-map {
      position: relative;
      z-index: 3;

      display: block;
      width: 725px;
      height: 560px;
      margin-right: 134px;

      border: 8px solid #fde4cf;
      & iframe {
        border: 0;
      }
    }
    &__map {
      position: absolute;
      padding: 0;
    }
    &__title {
      padding: 0;
      width: 330px;
      margin-bottom: 38px;

      @include font(36px, 43.2px, 700);
      &::before {
        left: -41px;
      }
    }
    &__text {
      width: 386px;
      margin-bottom: 25px;

      @include font(14px, 22.4px, 400);
    }
    &__form {
      width: 490px;
      margin: 0;
    }
    &__btn {
      width: 277px;
      margin: 50px 0 10px;
    }
    &__footnote {
      margin: 0;
      margin-left: 10px;

      text-align: center;
      & a:hover {
        color: $second-color-text;
      }
      & a:active {
        color: $main-color-text;
      }
    }
    // Страница "О компании"
    &__container--background {
      justify-content: flex-end;

      background: url('../img/about-company/questions/background.jpg') no-repeat;
      background-size: 725px 560px;
      background-position: 219px 0;
      & > div {
        padding-left: 800px;
      }
    }
  }
}
