.type-ladder {
  position: relative;

  min-height: 660px;
  margin-bottom: 74px;
  &__container {
    width: $mobile-width;
    padding: 0 17px;
    margin: 0 auto;

    overflow: hidden;
  }
  &__title {
    position: relative;
    margin-bottom: 40px;
    padding-left: 3px;

    @include font(29px, 34.8px, 700);
  }
  &__wrapper-btn {
    display: none;
  }
  & .swiper {
    margin-top: -83px;
    padding-top: 83px;
    padding-bottom: 55px;
  }
  & .swiper-wrapper {
    box-sizing: border-box;
  }
  & .swiper-slide {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 386px;
    min-height: 538px;

    border: 2px solid $second-background;
    &::after {
      position: absolute;
      content: '';
      z-index: 1;

      top: 40px;
      right: 40px;

      width: 160px;
      height: 160px;

      background: url('../img/decorate-3.svg') no-repeat;
    }
  }
  & .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .swiper-pagination-bullet {
    width: 9px;
    height: 9px;

    background-color: #f9bb88;
    opacity: 1;

    border-radius: 0;

    --swiper-pagination-bullet-horizontal-gap: 8px;
  }
  .swiper-pagination-bullet-active {
    width: 17px;
    height: 17px;

    background-color: #000000;
  }
  &__img {
    position: relative;
    z-index: 2;

    margin-top: 35px;
    margin-left: 46px;
  }
  &__description {
    min-height: 203px;
    padding: 23px 30px 31px;
    margin-top: auto;

    text-align: center;

    background-color: $second-background;
  }
  &__subtitle {
    margin-bottom: 6px;

    @include font(23px, 36.8px, 600);
  }
  &__price {
    margin-bottom: 14px;
    margin-top: 0;

    font-family: 'Montserrat', 'Arial', sans-serif;
    @include font(14px, 19.6px, 400);
    & b {
      margin-left: 10px;
      margin-right: 2px;

      @include font(23px, 36.8px, 600);
    }
  }
  &__link {
    display: block;
    width: 191px;
    min-height: 50px;
    padding: 15px 53px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .type-ladder {
    min-height: 621px;
    margin-bottom: 124px;
    &__container {
      width: $desktop-width;
      padding: 0 100px;
    }
    &__top {
      position: relative;
    }
    &__title {
      position: relative;
      z-index: -1;

      padding-left: 0;

      @include font(36px, 43.2px, 700);
    }
    &__wrapper-btn {
      position: absolute;
      top: -3px;
      right: -8px;

      display: flex;
      justify-content: space-between;
      width: 100px;
      height: 50px;
      &::before {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;

        width: 2px;
        height: 34px;

        background-color: #000000;

        transform: translateY(-50%);
      }
    }
    & .swiper {
      padding-bottom: 0;
    }
    &__btn {
      position: relative;

      width: 40px;
      padding: 0;

      background-color: transparent;
      border: 0;
      &::before {
        position: absolute;
        content: '';
        top: 18px;
        left: -1px;

        width: 12px;
        height: 2px;

        background-color: $second-color-bg;
        transform: rotate(-45deg);
      }
      &::after {
        position: absolute;
        content: '';
        top: 25px;
        left: -1px;

        width: 12px;
        height: 2px;

        background-color: $second-color-bg;
        transform: rotate(45deg);
      }
      &--next {
        &::before {
          top: 25px;
          left: 31px;
        }
        &::after {
          top: 18px;
          left: 31px;
        }
      }
      &:hover::before,
      &:hover::after {
        background-color: $main-color-bg-button;
      }
      &:active::before,
      &:active::after {
        opacity: 0.5;
      }
    }
    & .swiper-pagination {
      display: none;
    }
  }
}
