.finished-projects {
  min-height: 702px;
  margin-bottom: 80px;
  &__container {
    width: $mobile-width;
    padding: 0 20px;
    margin: 0 auto;
  }
  &__wrapper-btn {
    display: none;
  }
  &__title {
    margin-bottom: 40px;

    @include font(29px, 34.8px, 700);
  }
  &__list {
    position: relative;
    z-index: 1;

    display: flex;
    margin-bottom: 16px;
  }
  &__item:not(:first-child) {
    display: none;
  }
  &__link {
    display: block;
    width: 279px;
    min-height: 50px;
    margin: 0 auto;
    padding: 15px 51px;

    background-color: $second-color-bg;
  }
}

@media (min-width: $desktop-width) {
  .finished-projects {
    margin-bottom: 106px;
    &__container {
      width: $desktop-width;
      padding: 0 351px;
    }
    &__top {
      position: relative;
    }
    &__title {
      @include font(36px, 43.2px, 700);
    }
    &__wrapper-btn {
      position: absolute;
      top: -46px;
      right: 0;

      display: flex;
      margin-right: -64px;
      padding-top: 3px;
      &::before {
        position: absolute;
        content: '';
        top: 38%;
        left: 50%;

        width: 2px;
        height: 34px;

        background-color: #000000;
      }
    }
    &__btn {
      position: relative;

      width: 104px;
      height: 130px;
      padding: 0;

      background-color: transparent;
      border: 0;
        &::before {
          position: absolute;
          content: '';
          top: 46%;
          left: 61%;

          width: 12px;
          height: 2px;

          background-color: $second-color-bg;
          transform: rotate(-45deg);
        }
        &::after {
          position: absolute;
          content: '';
          top: 52%;
          left: 61%;

          width: 12px;
          height: 2px;

          background-color: $second-color-bg;
          transform: rotate(45deg);
        }
    &--next {
      &::before {
        top: 51%;
        left: 31%;
      }
      &::after {
        top: 45%;
        left: 31%;
      }
    }
    &:hover::before,
    &:hover::after {
      background-color: $main-color-bg-button;
    }
    &:active::before,
    &:active::after {
      opacity: 0.5;
    }
  }
  &__list {
    margin-bottom: 64px;
  }
  &__item {
    &:not(:first-child) {
      display: block;
      width: 386px;
      height: 496px;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    & img {
      width: 386px;
      height: 496px;
    }
  }
  &__link {
    &:hover {
      color: $main-color-text;

      background-color: $main-color-bg-button;
    }
  }
  }
}
