.reviews {
  margin-bottom: 80px;

  background-color: $main-background;
  &__bg-decorate {
    position: relative;

    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 99px;

      width: 5000px;
      height: 100%;

      background-color: $second-background;
    }
  }
  &__container {
    position: relative;
    z-index: 1;

    width: $mobile-width;
    min-height: inherit;
    padding: 40px 20px 60px;
    margin: 0 auto;
    &::after {
      position: absolute;
      content: '';
      right: -85px;
      bottom: 92px;

      width: 160px;
      height: 160px;

      background: url('../img/decorate-4.svg') no-repeat;
    }
  }
  &__title {
    margin-bottom: 40px;
    @include font(29px, 34.8px, 700);

    &::after {
      position: absolute;
      content: '';
      right: 34px;
      top: 52px;

      width: 96px;
      height: 96px;

      background: url('../img/decorate-2.svg') no-repeat;
    }
  }
  & .reviews-slider {
    overflow: hidden;
  }
  &__list {
    margin-bottom: 30px;

    box-sizing: border-box;
  }
  &__item {
    width: 380px;
    min-height: 450px;
    padding: 40px 30px;

    background-color: $main-color-bg;

    & img {
      float: left;
      margin-right: 20px;
    }
  }
  &__content {
    & > div {
      display: flex;
      flex-direction: column;
      min-height: 150px;
      padding-top: 72px;
      margin-bottom: 19px;
    }
    & cite {
      width: 105px;
      margin-bottom: 5px;

      @include font(18px, 25.2px, 700);
      font-style: normal;
    }
    & span {
      @include font(15px, 24px, 400);

      opacity: 0.4;
    }
    & p {
      margin-bottom: 18px;

      @include font(12px, 20.4px, 400);
    }
    & a {
      @include font(14px, 23.8px, 700);
      letter-spacing: 0.7px;
      text-transform: uppercase;
      &:active {
        opacity: 0.5;
      }
    }
  }
  &__wrapper-btn {
    display: none;
  }
  & .swiper-pagination {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .swiper-pagination-bullet {
    width: 9px;
    height: 9px;

    background-color: #f9bb88;
    opacity: 1;

    border-radius: 0;

    --swiper-pagination-bullet-horizontal-gap: 8px;
  }
  .swiper-pagination-bullet-active {
    width: 17px;
    height: 17px;

    background-color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    min-height: 721px;
    margin-bottom: 109px;
    &__bg-decorate {
      width: $desktop-width;
      &::before {
        right: 490px;
      }
    }
    &__container {
      position: relative;

      width: $desktop-width;
      min-height: 481px;
      padding: 110px 100px 130px;
      &::after {
        right: 1143px;
        bottom: 85px;

        background: url('../img/decorate-5.svg');
      }
    }
    &__title {
      width: 380px;
      margin-bottom: 40px;

      @include font(36px, 43.2px, 700);
      &::after {
        right: 155px;
        top: 308px;
      }
    }
    &__list {
      width: 902px;
      margin-bottom: 0;
    }
    &__item {
      display: flex;
      width: 902px;
      min-height: 355px;
      padding: 62px 141px 93px 80px;
      & img {
        float: none;
        margin-right: 40px;
      }
    }
    &__content {
      & > div {
        min-height: 0;
        padding-top: 0;
        margin-bottom: 16px;
      }
      & cite {
        width: 250px;
        margin-bottom: 3px;
      }
      & p {
        margin-bottom: 14px;

        @include font(14px, 23.8px, 400);
      }
    }
    & .reviews-slider {
      position: relative;

      width: 902px;
      margin-left: 207px;
    }
    & .swiper-pagination {
      position: absolute;
      bottom: 45px;
      left: 234px;

      width: 500px;
      justify-content: flex-start;
      height: 20px;
    }
    &__wrapper-btn {
      position: absolute;
      top: 52px;
      right: 68px;

      display: flex;
      justify-content: space-between;
      align-items: start;
      width: 100px;
      height: 50px;
      &::before {
        position: absolute;
        content: '';
        z-index: 1;
        left: 50%;
        top: 50%;

        width: 2px;
        height: 34px;

        background-color: #000000;

        transform: translate(-50%, -50%);
      }
    }
    &__btn {
      position: relative;
      z-index: 1;

      width: 40px;
      min-height: 50px;
      padding: 0;

      background-color: transparent;
      border: 0;
      &::before {
        position: absolute;
        content: '';
        z-index: 1;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 2px;

        background-color: $second-color-bg;
        transform: rotate(-45deg) translate(-50%, -50%);
      }
      &::after {
        position: absolute;
        content: '';
        z-index: 1;
        top: 49%;
        left: 47%;


        width: 12px;
        height: 2px;

        background-color: $second-color-bg;
        transform: rotate(45deg) translate(-50%, -50%);
      }
      &--back {
        transform: rotate(180deg);
      }
      &--next {
        top: 0;

        margin-top: 0;
        &::before {
          left: 80%;
        }
        &::after {
          left: 78%;
        }
      }
      &:hover::before,
      &:hover::after {
        background-color: $main-color-bg-button;
      }
      &:active::before,
      &:active::after {
        opacity: 0.5;
      }
    }
  }
}


