.reviews {
  margin-bottom: 80px;

  background-color: $main-background;
  &__bg-decorate {
    position: relative;

    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 99px;

      width: 5000px;
      height: 100%;

      background-color: $second-background;
    }
  }
  &__container {
    position: relative;
    z-index: 1;

    width: $mobile-width;
    min-height: inherit;
    padding: 40px 20px 60px;
    margin: 0 auto;
    &::after {
      position: absolute;
      content: '';
      right: -85px;
      bottom: 92px;

      width: 160px;
      height: 160px;

      background: url('../img/decorate-4.svg') no-repeat;
    }
  }
  &__wrapper-btn {
    display: none;
  }
  &__title {
    margin-bottom: 40px;

    @include font(29px, 34.8px, 700);
    &::after {
      position: absolute;
      content: '';
      right: 34px;
      top: 52px;

      width: 96px;
      height: 96px;

      background: url('../img/decorate-2.svg') no-repeat;
    }
  }
  &__list {
    position: relative;
    z-index: 1;

    margin-bottom: 22px;
  }
  &__item {
    width: 380px;
    min-height: 450px;
    padding: 40px 30px;

    background-color: $main-color-bg;
    &:not(:first-child) {
      display: none;
    }
    & img {
      float: left;
      margin-right: 20px;
    }
  }
  &__content {
    & > div {
      display: flex;
      flex-direction: column;
      min-height: 150px;
      padding-top: 72px;
      margin-bottom: 19px;
    }
    & cite {
      width: 105px;
      margin-bottom: 5px;

      @include font(18px, 25.2px, 700);
      font-style: normal;
    }
    & span {
      @include font(15px, 24px, 400);

      opacity: 0.4;
    }
    & p {
      margin-bottom: 18px;

      @include font(12px, 20.4px, 400);
    }
    & a {
      @include font(14px, 23.8px, 700);
      letter-spacing: 0.7px;
      text-transform: uppercase;
      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    min-height: 721px;
    margin-bottom: 109px;
    &__bg-decorate {
      width: $desktop-width;
      &::before {
        right: 738px;
      }
    }
    &__container {
      position: relative;

      width: $desktop-width;
      min-height: 481px;
      padding: 110px 351px 130px 351px;
      &::after {
        right: 1414px;
        bottom: 104px;

        background: url('../img/decorate-5.svg');
      }
    }
    &__title {
      width: 380px;
      margin-bottom: 40px;

      @include font(36px, 43.2px, 700);
      &::after {
        right: 155px;
        top: 308px;
      }
    }
    &__wrapper {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: -48px;
        right: -47px;

        width: 96px;
        height: 96px;

        background: url('../img/decorate-1.svg') no-repeat;
      }
    }
    &__wrapper-btn {
      display: flex;
      position: absolute;
      z-index: 2;
      top: 10px;
      right: 189px;

      display: flex;
      margin-right: -64px;
      padding-top: 3px;
      &::before {
        position: absolute;
        content: '';
        top: 38%;
        left: 50%;

        width: 2px;
        height: 34px;

        background-color: #000000;
      }
    }
    &__btn {
      position: relative;

      width: 104px;
      height: 130px;
      padding: 0;

      background-color: transparent;
      border: 0;
        &::before {
          position: absolute;
          content: '';
          top: 46%;
          left: 61%;

          width: 12px;
          height: 2px;

          background-color: $second-color-bg;
          transform: rotate(-45deg);
        }
        &::after {
          position: absolute;
          content: '';
          top: 52%;
          left: 61%;

          width: 12px;
          height: 2px;

          background-color: $second-color-bg;
          transform: rotate(45deg);
        }
    &--next {
      &::before {
        top: 51%;
        left: 31%;
      }
      &::after {
        top: 45%;
        left: 31%;
      }
    }
    &:hover::before,
    &:hover::after {
      background-color: $main-color-bg-button;
    }
    &:active::before,
    &:active::after {
      opacity: 0.5;
    }
  }
  &__list {
    position: relative;

    width: 902px;
    margin-left: 207px;
    margin-bottom: 0;
  }
  &__item {
    display: flex;
    width: 902px;
    min-height: 355px;
    padding: 62px 141px 93px 80px;
    & img {
      float: none;
      margin-right: 40px;
    }
  }
  &__content {
    & > div {
      min-height: 0;
      padding-top: 0;
      margin-bottom: 16px;
    }
    & cite {
      width: 250px;
      margin-bottom: 3px;
    }
    & p {
      margin-bottom: 14px;

      @include font(14px, 23.8px, 400);
    }
  }
  }
}
