.winder-ladder {
  min-height: 1458px;
  margin-bottom: 80px;

  background-color: #ffffff;
  &__bg-decorate {
    position: relative;

    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 320px;

      width: 5000px;
      height: 440px;

      background-color: $main-background;
    }
  }
  &__container {
    position: relative;
    z-index: 1;

    width: $mobile-width;
    padding: 15px 20px 0;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: '';
      right: -2px;
      top: 57px;

      width: 96px;
      height: 96px;

      background: url('../img/decorate-1.svg') no-repeat;
    }
  }
  &__title {
    margin-bottom: 40px;

    @include font(29px, 1.2, 700);
  }
  &__wrapper-img {
    position: relative;

    min-height: 370px;
    margin-bottom: 40px;
  }
  &__img {
    position: absolute;
    top: 0;
    left: -20px;
  }
  &__wrapper-inner {
    margin-bottom: 61px;
  }
  &__subtitle {
    position: relative;
    margin-bottom: 33px;

    @include font(23px, 1.6, 600);
    &::after {
      position: absolute;
      content: '';
      top: 45px;
      left: 0;

      width: 70px;
      height: 3px;

      background-color: $second-color-text;
    }
  }
  &__price {
    margin-bottom: 20px;

    @include font(14px, 1.4, 400);
    & b {
      padding: 0 5px;

      @include font(23px, 1.6, 600);
    }
  }
  &__text {
    margin-bottom: 30px;

    @include font(12px, 1.4, 400);
    color: rgba(32, 32, 32, 0.4);
  }
  &__days {
    margin-bottom: 30px;

    @include font(14px, 1.4, 400);
    & b {
      margin-left: 12px;

      @include font(18px, 1.4, 600);
    }
  }
  &__btn {
    width: 225px;
    min-height: 50px;
    padding: 15px 52px;
    margin-bottom: 40px;

    @include font(14px, 1.4, 500);
  }
  &__description {
    @include font(12px, 1.6, 400);
    &:last-child {
      margin-top: 18px;
    }
  }
  &__list {
    padding: 17px 0 21px 14px;

    list-style: disc;
    p {
      @include font(12px, 1.4, 400);
    }
  }
  &__wrapper-calculate {
    width: 380px;
    min-height: 200px;
    padding: 40px 68px 40px;

    background-color: #000000;
  }
  &__text-calculate {
    display: block;
    margin-bottom: 20px;

    @include font(18px, 25.2px, 400);
    color: #f4f4f4;
  }
  &__link-calculate {
    display: block;
    width: 191px;
    min-height: 50px;
    padding: 15px 53px;

    background-color: $second-background;
    &:active {
      opacity: 0.5;
    }
  }
}

@media (min-width: $desktop-width) {
  .winder-ladder {
    min-height: 977px;
    &__bg-decorate {
      width: $desktop-width;
      &::before {
        right: 1183px;

        height: 483px;
      }
    }
    &__container {
      width: $desktop-width;
      padding: 14px 351px 0;
      &::before {
        display: none;
      }
    }
    &__title {
      padding-top: 5px;

      @include font(36px, 1.2, 700);
    }
    &__link-calculate {
      &:hover {
        background-color: $main-color-bg-button;
      }
    }
    &__text-calculate {
      margin-bottom: 25px;

      @include font(23px, 32.2px, 400);
    }
  }
}
