.footer {
  min-height: 386px;

  background-color: $second-background;
  &__container {
    width: $mobile-width;
    min-height: inherit;
    padding: 40px 68px;
    margin: 0 auto;

    text-align: center;
  }
  &__column-left span {
    display: block;
    margin-bottom: 30px;

    @include font(14.36px, 20.11px, 600);
    letter-spacing: 3.8px;
    color: $second-color-text;
    text-transform: uppercase;
  }
  &__column-center {
    display: none;
  }
  &__wrapper-logo {
    display: flex;
    margin-bottom: 5.22px;
  }
  &__logo {
    margin-right: 20.5px;
  }
  &__logo-text {
    @include font(14.36px, 20.11px, 600);
    text-align: start;
  }
  &__phone {
    display: block;
    margin-bottom: 10px;

    @include font(18px, 22px, 600);
    &:active {
      opacity: 0.5;
    }
  }
  &__btn {
    width: 170px;
    min-height: 40px;
    margin-bottom: 20px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
  }
  &__copyright {
    order: 3;

    opacity: 0.4;
  }
  &__link-privacy {
    order: 2;
    margin-bottom: 9px;

    opacity: 0.4;
    &:active {
      opacity: 1;
    }
  }
}

.social {
  width: 74px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 13px;
  order: 1;
  &__icon {
    fill: #202020;
    opacity: 0.4;
    &:active {
      fill: $main-background;
      opacity: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-height: 190px;
    &__container {
      width: $desktop-width;
      padding: 30px 351px;
    }
    &__top {
      display: flex;
      margin-bottom: 12px;
    }
    &__bottom {
      flex-direction: row;
    }
    &__column-left {
      width: 284px;
      margin-right: 236px;
      & span {
        margin-bottom: 0;

        letter-spacing: 3.5px;
      }
    }
    &__column-center {
      display: flex;
      padding-top: 14px;
    }
    &__column-right {
      margin-left: auto;
    }
    &__navigation {
      &-list {
        display: flex;
        flex-direction: column;
        width: 140px;

        text-align: left;
        &:first-child {
          margin-right: 23px;
        }
      }
      &-item {
        margin-bottom: 5px;
      }
      &-link {
        @include font(14px, 19.6px, 400);

        transition: all .2s ease-in-out;
        &:hover {
          @include font(14px, 19.6px, 600);
          color: $second-color-text;
        }
        &:active {
          color: $main-color-text;
          opacity: 0.5;
        }
      }
    }
    &__logo {
      margin-right: 17.5px;
      &-text {
        width: 160px;
      }
    }
    &__phone {
      &:hover {
        color: $second-color-text;
      }
      &:active {
        color: $main-color-text;
      }
    }
    &__copyright {
      order: 2;
      margin-right: 305px;
    }
    &__link-privacy {
      transition: all .2s ease-in-out;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
        opacity: 1;
      }
      &:active {
        color: $main-color-text;
      }
    }
  }
  .social {
    order: 3;
    margin: 0;
    margin-left: auto;
    &__icon {
      transition: all .3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}
