.title-decorate {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    bottom: 0;
    left: -17px;

    width: 100px;
    height: 14px;

    background-color: $main-background;
  }
  &--about-company,
  &--catalog {
    &::before {
      bottom: 2px;
      left: -20px;

      background-color: #ff9646;
    }
  }
}

@media (min-width: $desktop-width) {
  .title-decorate {
    &::before {
      left: -40px;

      width: 120px;
      height: 18px;
    }
  }
}
